* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: #DFEEFB;
    width: fit-content;
}
.content {
    position: relative;
}
h2 {
    color: rgb(255, 255, 255);
}
.single-champs-image {
    border-radius: 0 50px 0 0;
}
.champs-title {
    margin-top: 20px;
    font-size: 50px;
}
.champs-lore {
    text-align: left;
    padding: 20px;
    margin: 50px auto 200px auto;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
    
}
header {
    z-index: 2;
}
.stick-header {
    position: fixed;
    top: 0;
    width: 100%;
}
.stick-header + .content {
    padding-top: 100px;
}

.hamburger {
    position: fixed;
    right: 20px;
    width: 36px;
    height: 36px;
    display: none;
    
}
.nav-logo{
    display: flex;

}
.nav-social {
    display: flex;
}
.nav-social.show {
    display: flex;
    flex-direction: row;
}

ul {
    margin: 0;
    min-height: 100px;
    padding: 15px 150px 15px 150px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    border-width: 100%; 
    color: rgb(255, 255, 255);
    background-color: #2699FB;
    font-size: 20px;
}
input {
    border: none;
    width: 450px;
}
input:focus {
    outline: none;
}
.search-bar-container {
    display: flex;
    justify-content: center;
    height: 35px;
    margin: 75px 0 0 0;
}
.search-bar {
    display: flex;
    margin: 0 50px 0 50px;
    border: 1px solid rgba(0, 0, 0, .25);
    width: 500px;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    background-color: rgb(255, 255, 255);
    
}
.search-bar-extend {
    border-radius: 18px 18px 0 0;
}
.dropdown-content {
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 17px;
    padding: 5px 20px 5px 20px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.search-input {
    text-transform: none;
    height: 22px;
}
#search-icon {
    width: 20px;
}
.search-bar:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(135, 135, 135);
}
.button {
    height: 22px;
    border: none;
    background-color: transparent;
}
.button:focus {
    outline: none;
}
.button:hover {
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    border-width: 100%; 
    color: rgb(255, 255, 255);
    padding: 30px;
    background-color: #2699FB;
}
.champs-img {
    width: 308px;
    height: 35px;
    margin-top: -30px;
    background-color: #2699FB;

}
.champions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 70px calc(10% - 30px);
    text-align: center;
}
.champs-box {
    clip-path: inset(20px 20px 0px 20px);
    margin: 20px;
    max-width: 308px;
    max-height: 592px;
    overflow: hidden;
    cursor: pointer;
}
.zoom {
    width: 100%;
    height: 100%;
}
.champs-box {
    border-radius: 0 150px 0 90px;
}
.champs-box:hover {
    transition-duration: 1s;
    border-radius: 0;
}
.champs-box:hover .zoom,
.champs-box:focus .zoom {
    transform: scale(.95);
    transition-duration: 500ms;
}
a.underline-left {
    position: relative;
}
a.underline-left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
a.underline-left:hover::before {
    visibility: visible;
    width: 100%;
}
.top-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.new-container {
    display: none;
    width: 500px;
    max-height: 500px;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0 0 18px 18px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(135, 135, 135);
    border-top: 0;
    overflow-x: hidden;
}
option {
    padding: 5px 5px 5px 20px;
}
option:hover {
    cursor: pointer;
    background-color: rgba(105, 191, 241, 0.6);
}

.show {
    display: block;
}
.static-shadow {
    box-shadow: 0 2px 5px rgb(135, 135, 135);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.button-dark-mode {
    color: rgb(255, 255, 255);
    background-color: #2699FB;
    border: 0 solid rgba(0, 0, 0, .25);
    padding: 8px;
    border-radius: 30px;
    
}.button-dark-mode:focus {
    outline: none;
}
.button-dark-mode:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(135, 135, 135);
}

.search-bar.dark-mode {
    border-color: #21262d;
}
.new-container.dark-mode {
    color:rgb(251, 251, 251);
}
.champions-container.dark-mode {
    border: none;
    color: white;
}
.dark-mode {
    background-color: #0d1118;
    color: white;
}

@media screen and (max-width: 1229px){
    .top-nav {
        position: relative;
    }
    a {
        margin: 0;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .nav-social {
        display: none;
        width: 100%;
        flex-direction: column;
        margin: 100px 0 20px 0;
    }
    li {
        padding-bottom: 15px;
    }
    .nav-social.show {
        display: block;
    }
    .nav-logo {
        position: absolute;
        top: 30px;
    }
    .nav-logo.show {
        border-bottom: 1px solid currentColor;
    }
    ul {
        display: flex;
        justify-content: center;

    }
    .single-champs-image {
        width: 500px;
    }
}

